{% extends 'layouts/main.html' %}
{% block title %}New Item{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="/items/create">
      <h3 class="form-heading">Add a new item <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>quantity & price</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.quantity(class_ = 'form-control', placeholder='quantity', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.price(class_ = 'form-control', placeholder='price', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="id">Item id</label>
        {{ form.id(class_ = 'form-control', autofocus = true) }}
      </div>
      <input type="submit" value="Create Item" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
